@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ecf0f1;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    font-weight: 100;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsl(36 100% 20% / 1);
    border-radius: 5px;
}

/* Navbar */
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    background-color: none;
}

.banner2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #CC9544;
}

button {
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0,3s ease 0s;
}

.mainbutton {
    background-color: rgba(204, 149, 68, 1);
    border: none;
}

.mainbutton:hover {
    background-color: rgba(204, 149, 68, 0.8);
}

/* Banner */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('img/chemex.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.subbutton {
    background: transparent;
    border: 2px solid rgba(204, 149, 68, 1);;
}

.subbutton:hover {
    background-color: rgba(204, 149, 68, 1);
}

/* About */
#about {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #CC9544;
    font-weight: 500;
    position: relative;
    z-index: 1;
    display:  inline-block;
}


.title-text h1 {
    font-size: 50px;
}

.about-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.about {
    flex-basis: 50%;
}

.about-img {
    flex-basis: 50%;
    margin: auto;
}

.about-img img {
    width: 70%;
    border-radius: 10px;
}

.about h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #CC9544;
}

.about-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.about-text p { 
    padding: 0 20px;
    text-align: initial;
}

/* Products */
#products {
    width: 100%;
    padding: 70px 0;
}

.products-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.products {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    position: relative;
}

.products img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #CC9544);
    opacity: 0;
    transition: 1s;
}

.products:hover .overlay {
    opacity: 1;
}

.products-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.products-desc p {
    font-size: 14px;
    color: #FFF;
    font-weight: 100;
}

.products-desc h3 {
    font-weight: 500;
}

.products:hover .products-desc {
    bottom: 23%;
    opacity: 1;
}

/* footer */
#footer {
    padding: 30px 0 20px;
    background: #CC9544;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: right;
}

.footer-right {
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
}

.footer-row p{
    line-height: 35px;
}